header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    top: 0px;
}

body {
font-family: Georgia;
font-size: 17px;
color: black;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex-grow: 1;
    color: mediumaquamarine;
}

.logo span {
  padding-left: 10px;
}

nav a {
  color: black;
  margin: 10px;
  padding-right: 30px;
}

.main-container {
  display: flex;
  padding-top: 100px;
  width: 1300px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  width: 300px;
  display: flex;
}

.column.small {
  width: 240px;
  display: flex;
}

.image-content {
  display: flex;
  background-image: url("../images/img-story-main.png");
  height: 300px;
}

.lead-story .image-content {
width: 630px;
margin-top: 0;
font-size: 30px;
text-align: left;
color: white;
}

.lead-story .image-content span {
width: 630px;
margin: 20px;
font-size: 40px;
text-align: left;
color: white;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.earth-spins {
  display: flex;
  background-image: url("../images/img-story-2.png");
}

.cameras {
  display: flex;
  background-image: url("../images/img-story-3.png");
}

.cats {
  background-image: url("../images/img-story-1.png");
}

.image-content span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cookie {
  height: 240px;
}

.news-bites {
  display: block;
}
